/* FONTS */

@font-face {
  font-family: "Gotham Bold";
  src: url(../assets/fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: "Gotham Book";
  src: url(../assets/fonts/Gotham-Book.otf) format("opentype");
}

:root {
  --main-filter-color: #857d74;
}

/* Main */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --header-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Gotham Book", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  width: 100%;
  //max-width: 65em;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
} 

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  //font-size: 2.5rem;
  font-size: clamp(1.4rem, 4vw, 2rem);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  //font-size: 2rem;
  font-size: clamp(1.2rem, 4vw, 1.7rem);
  line-height: 1.2;
}

h3 {
  //font-size: 1.5rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.2;
}

p {
  //font-size: 1rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 400;
}

.bold {
  //font-weight: bold;
  font-family: "Gotham Bold";
}

@media screen and (min-width: 769px) {
  .spacing > * + * {
    margin-top: var(--spacer, 2em);
  }
}

@media screen and (max-width: 768px) {
  .spacing > * + * {
    margin-top: var(--spacer, 1em);
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #80705a;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(0.6em, 1vw, 1em);
  padding: 0.5em 1.25em;
  border: 2px solid #80705a;
  border-radius: 2em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  white-space: nowrap;
}

.disabled {
  opacity: 0.5;
  //pointer-events: none;
  cursor: default;
}

.btn + .btn {
  margin: 2em;
}

.btn:hover {
  //transform: scale(1.1);
  //opacity: 0.9;

  background-color: #80705a;
  color: #fff;
}

#logo-nav-contract {
  display: none;
  opacity: 0;
}

.header {
  background-color: #fff;
  position: fixed;
  // height: 100vh;
  // --header-height: 100vh;
  height: calc(var(--header-height));
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  // color: #fff;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  z-index: 99;
  
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */

  &--scrolled {
    position: fixed;

    //--header-height: 100px;
    //height: calc(var(--header-height));
  }

  /*&--scrolled {
    height: 100px;
    --header-height: 100px;
  }*/
}

/*

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/

@media only screen and (min-width: 769px) {
  .header {
    align-items: center;
    height: 100%;
    //min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .menu-link {
    font-size: 0.75rem;
  }
}

button {
  border: 0px;
  cursor: pointer;
  background-color: #fff;
}

.header-reduced {
  position: fixed;
  background-color: #9effc6;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: ease 0.4s;
  z-index: 99;
  opacity: 0;
}

.main-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.main-nav a {
  display: inline-block;
}

.navbar {
  //height: 50%;
  //min-height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  //gap: clamp(2em, 5vw, 5em);
  //gap: 5em;

  .menu-link,
  .lang-link {
    text-decoration: none;
    color: #80705a;
    font-family: beloved-sans, sans-serif;
    font-weight: 400;
    letter-spacing: 0.22rem;
    font-style: normal;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: clamp(0.6em, 1vw, 1em);
    //font-size: 14px;
    text-align: center;
  }

  .lang-link {
    width: 150px;
  }

  @media screen and (min-width: 1201px) {
    .menu-link {
      width: 150px;
      // padding: 0 2em;
    }
    .lang {
      right: 20px;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .menu-link {
      width: 120px;
    }
    .lang {
      right: 20px;
    }
  }

  @media screen and (max-width: 1024px) {
    .menu-link {
      width: 100px;
    }

    .lang {
      right: 8px;
    }


  }

  .nav-space {
  }
  .nav-space + *.nav-space {
    margin-left: clamp(1em, 3vw, 4em);
  }

  .menu-link::after, .lang-link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #80705a;
    transition: width 0.5s;
  }

  .menu-link:hover::after, .lang-link:hover::after {
    width: 100%;
    //color: #80705a;
    transition: width 0.5s;
  }


  .lang {
    color: #80705a;
    display: flex;
    position: fixed;
    top: 0;
    margin-top: -1px;
    width: 75px;
    height: 75px;
    align-items: center;
  }

.lang-link {
    font-size: clamp(0.6em, 1vw, 0.8em);
  } 

  /* .lang-link + .lang-link {
    border-left: 1px solid #80705a;
  } */
  .lang-separator {
    height: 16px;
    width: 1px;
    background-color: #80705a;
    margin: -4px 8px 0 8px;
  }

  .menu-logo-img {
    width: 40%;
    max-width: 400px;
    min-width: 100px;
    height: auto;
    transition: all 500ms ease-in-out;
  }

  .menu-logo-img:hover {
    transform: scale(1.05);
  }

 
}



.arrow-container {
  position: absolute;
  bottom: 50px;
  //justify-content: center;
  //left: 50%;
  height: 50px;
  width: 100%;
  //transform: translateX(-50%);
  animation-duration: 1s;
  animation-name: fadein;
  //animation-delay: 1s;
}

.arrow {
  position: relative;
  display: inline-block;
  /* transform: rotate(45deg);
  -webkit-transform: rotate(45deg); */
  cursor: pointer;
  top: 0;
  transition: top ease-in-out 0.5s;
    
  margin: 0 auto;
}


@media screen and (min-width: 1201px) {
  .arrow {
    width: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .arrow {
    width: 32px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1024px) {
  .arrow {
    width: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.arrow:hover {
  top: -6px;
}

@media screen and (max-width: 768px) {
  /* * {
    overflow-x: hidden;
  } */

  .line {
    width: 30px;
    height: 3px;
    background: #80705a;
    margin: 5px;
  }

  .menu-logo-img {
    width: 50%;
    max-width: 400px;
    min-width: 100px;
    height: auto;
    transition: all 500ms ease-in-out;
  }

  .mobile-navbar {
    position: relative;
    // height: 126px;
    height: 126px;
    // max-height: 10vh;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    
  }

  .header {
    /* height: 10vh;
    max-height: 10vh; */
    position: fixed;
    height: 75px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    top: 0;

    //border: 1px solid red;
  }

  .mobile-nav-logo {
    position: absolute;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 14px;
    //border: 1px solid blue;
    //z-index: 3;
    display: block;
  }

  .mobile-nav-logo-img {
    display: block;
    opacity: 1;
   }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translate(-5px, -50%);
    z-index: 2;
  }

  .relative-close-hamburger {
    position: absolute;
    top: 0;
    right: 5px;
    height: 42px;
    width: 42px;
    text-align: center;
  }

  .close-hamburger {
    position: fixed;
    font-size: 50px;
    // border: 1px solid red;
    transform: rotate(45deg);
    cursor: pointer;
    color: #80705a;
  }

  .close-hamburger:hover {
    color: #777;
  }

  .navbar {
    display: none;
  }

  .nav-links {
    position: fixed;
    top: 0;
    background: #fff;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: none;
    transition: all 1s ease-in-out;
    //clip-path: circle(100px at 90% -10%);
    //-webkit-clip-path: circle(100px at 90% -10%);
    pointer-events: all;
    // padding: 50% 0;
  }

  .nav-links ul {
    text-align: center;
    list-style: none;
  }

  .nav-links.open {
    //clip-path: circle(1000px at 90% -10%);
    //-webkit-clip-path: circle(1000px at 90% -10%);
    display: flex;
  }

  .nav-links li {
    //border: 1px solid red;
    overflow: hidden;
    padding: 2em;
    //border: 1px solid green;
  }

  .nav-links li a {
    color: #80705a;
    text-decoration: none;
    font-size: 1em;
    font-family: beloved-sans, sans-serif;

    //font-weight: 700;
    letter-spacing: 0.1rem;
    font-style: normal;
    text-transform: uppercase;
  }

  .nav-links li a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #80705a;
    transition: width 0.5s;
  }

  .nav-links li a:hover::after {
    width: 100%;
    //color: #80705a;
    transition: width 0.5s;
  }

  .lang-link {
    color: #80705a;
    text-decoration: none;
    font-size: 0.8em;
    font-family: beloved-sans, sans-serif;
    letter-spacing: 0.1rem;
    font-style: normal;
    text-transform: uppercase;
    padding: 0 8px;
    font-weight: 400;
  }

  .lang-link:hover {
    text-decoration: underline;
  }

  .mobile-lang {
    color: #80705a;
    display: flex;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    //width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
  }

  .lang-separator {
    height: 20px;
    margin-top: -2px;
    width: 1px;
    background-color: #80705a;
    
    margin: 0 20px;
  }

  .arrow-container,
  .arrow {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobile-navbar,
  .nav-links {
    display: none;
  }
}

.video-section {
  position: relative;
  overflow: hidden;
  //height: calc(100% - 150px);
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100vh;

  /* video {
    //position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
  } */

  /*top: 0;
  left: 0;
  width: 100%;
  height: 100vh;*/
  // height: calc(100vh - 100px);
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.video-article {
  background-color: rgba(#fff, 0.8);
  border-radius: 3em;
  text-align: justify;
  /* width: 40%;
    min-width: 500px; */
  min-width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.video-title {
  color: #80705a;
  text-align: left;
}

@media screen and (min-width: 769px) {
  .video-article {
    padding: 4em;
    margin: 5em;
    width: calc(min(800px, 60%));
  }
}

@media screen and (max-width: 768px) {
  .video-article {
    padding: 2em;
    margin: 0 auto;
    width: 80%;
  }
}

.main {
  position: relative;
  //top: 100vh;
  //top: calc(var(--header-height));
  //top: calc(100vh + 100px);
}

.panel {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-section {
  height: 100vh;
  //height: calc(100vh - 100px);
  // top: 100vh;
  width: 100%;
}

/* .first-section {
  position: fixed;
  top: 100px;
}

.next {
  position: relative;
  top: 100vh;

  .panel {
    position: relative;
  }
} */

.dark {
  background-color: rgb(22, 22, 22);
}

.white {
  background-color: #e0dbd2;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  //font-size: 2.5rem;
  font-family: "Gotham Bold";
  font-size: clamp(1.4rem, 4vw, 2rem);
  line-height: 1.2;
  text-transform: uppercase;
}

.projet-title,
.origine-title,
.produit-title,
.equipe-title,
.florent-title,
.partenaires-title,
.numbers-title {
  color: #80705a;
}

/* PROJET & EQUIPE*/

@media only screen and (min-width: 769px) {
  .container-projet {
    display: flex;
  }

  .container-equipe {
    display: flex;
  }

  .container-projet {
    height: 100vh;
    width: 200%;
    //display: flex;
  }
  
  .container-equipe {
    height: 100vh;
    width: 200%;
    //display: flex;
  }

  .projet-image,
  .origine-image {
    height: 100%;
    width: 50%;
    object-fit: cover;
  }

  .equipe-image,
  .florent-image {
    height: 100vh;
    width: 50%;
    object-fit: cover;
    
  }

  .image {
    height: 100vh;
    width: 50vw;
  }

  .projet-content {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
  }

  .equipe-content {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
  }

  .projet-article, .equipe-article {
    margin-top: 150px;
  }

  .image-antiquaille {
    margin-top: 60px;
  }

  .article {
    margin-top: 50px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container-projet {
    display: flex;
  }

  .container-equipe {
    display: flex;
  }
  .container-projet {
    height: 100vh;
    width: 200%;
    max-width: 200vw;
    //display: flex;
  }
  
  .container-equipe {
    height: 100vh;
    width: 200%;
    max-width: 200vw;
    //display: flex;
  }

  .projet-slide {
    flex-direction: column;
    width: 100%;
  }

  .origine-slide {
    flex-direction: column;
    width: 100%;
  }

  .equipe-slide {
    flex-direction: column;
  }

  .florent-slide {
    flex-direction: column;
  }

  .container-projet {
    height: 100vh;
    width: 200%;
    //display: flex;
  }
  
  .container-equipe {
    height: 100vh;
    width: 200%;
    //display: flex;
  }

  .projet-image,
  .origine-image {
    height: 40vh;
    max-height: 40vh;
    width: 100%;
    overflow: hidden;
  }

  
  .equipe-image,
  .florent-image {
    height: 40vh;
    max-height: 40vh;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
  }

  .image {
    height: 40vh;
    width: 100%;
  }
  

  .projet-content {
    width: 100%;
    position: absolute;
    left: 0;
    top: 40vh;
  }

  .equipe-content {
    width: 100%;
    position: absolute;
    left: 0;
    top: 40vh;
  }

  .projet-article, .equipe-article {
    margin-top: 50px;
  }

  .image-antiquaille {
    margin-top: 100px;
    transform: scale(1.5);
  }

  .image-papier {
  }

  .image-science {
  }

  .article {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .container-projet {
    display: flex;
  }

  .container-equipe {
    display: flex;
  }
  .container-projet {
    height: 100vh;
    width: 200%;
    max-width: 200vw;
    //display: flex;
  }
  
  .container-equipe {
    height: 100vh;
    width: 200%;
    max-width: 200vw;
    //display: flex;
  }

  .projet-slide {
    flex-direction: column;
    width: 100%;
  }

  .origine-slide {
    flex-direction: column;
    width: 100%;
  }

  .equipe-slide {
    flex-direction: column;
  }

  .florent-slide {
    flex-direction: column;
  }

  .container-projet {
    height: 100vh;
    width: 200%;
    //display: flex;
  }
  
  .container-equipe {
    height: 100vh;
    width: 200%;
    //display: flex;
  }

  .projet-image,
  .origine-image {
    height: 33vh;
    max-height: 33vh;
    width: 100%;
    overflow: hidden;
  }

  
  .equipe-image,
  .florent-image {
    height: 33vh;
    max-height: 33vh;
    width: 100%;
    overflow: hidden;
  }

  .image {
    height: 100%;
    width: 100%;
  }
  

  .projet-content {
    width: 100%;
    position: absolute;
    left: 0;
    top: 33vh;
  }

  .equipe-content {
    width: 100%;
    position: absolute;
    left: 0;
    top: 33vh;
  }

  .projet-article, .equipe-article {
    margin-top: 25px;
  }

  .image-antiquaille {
    margin-top: 70px;
    transform: scale(1.8);
  }

  .image-papier {
    // margin-top: -220px;
    //transform: scale(0.8);
  }

  .image-science {
    // margin-top: -120px;
    // transform: scale(1.2);
    // transform: translateY(50px);

  }

  .article {
    margin-top: 20px;
  }
}


.projet-slide,
.origine-slide {
  height: 100%;
  //width: 100vw;
  width: 100%;

  .projet-image,
  .origine-image {
    object-fit: cover;
  }

  .image {
    object-fit: cover;
    z-index: 0;
  }  
}

.equipe-slide,
.florent-slide {
  height: 100%;
  width: 100%;

  .equipe-image,
  .florent-image {
    object-fit: cover;
  }

  .image {
    object-fit: cover;
    z-index: 0; 
  }
}

.projet-slide {
  position: relative;
}

.origine-slide {
  position: relative;
}

.equipe-slide {
  position: relative;
}

.florent-slide {
  position: relative;
}

.projet-content {
  margin: 0;
  padding: 0;

  .projet-article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: "Gotham Book", sans-serif;

    //padding: 0 calc(max(10%, 100px));
    text-align: justify;

    .projet-title {
      color: #80705a;
      font-size: clamp(1.6em, 2vw, 2em);
      font-family: "Gotham Book", sans-serif;
    }

    @media screen and (min-width: 1201px) {
      article {
        width: 85%;
        min-width: 400px;
        padding-left: 100px;
        // font-size: clamp(0.6rem, 1vw, 0.8rem);
      }

      .projet-title {
        padding-left: 100px;
        
        // à tester
        padding-top: 50px;
      }

      p {
        line-height: 2em;
        //line-height: clamp(1.5rem, 1vw, 2rem);
        font-size: clamp(0.8rem, 1vw, 1rem);
      }
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      article {
        width: 90%;
        min-width: 400px;
        padding-left: 50px;
        // font-size: clamp(0.6rem, 1vw, 0.8rem);
      }

      .projet-title {
        color: #80705a;
        padding-left: 50px;
        font-family: "Gotham Book", sans-serif;
      }

      p {
        line-height: 2em;
        //line-height: clamp(1.5rem, 1vw, 2rem);
        font-size: clamp(0.8rem, 1vw, 1rem);
      }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      article {
        width: 90%;
        //min-width: 400px;
        padding-left: 50px;
        // font-size: clamp(0.6rem, 1vw, 0.8rem);
      }

      .projet-title {
        color: #80705a;
        padding-left: 50px;
        font-family: "Gotham Book", sans-serif;
      }

      p {
        line-height: 1.8em;
        //line-height: clamp(1.5rem, 1vw, 2rem);
        font-size: clamp(0.8rem, 1vw, 1rem);
      }
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      article {
        width: 90%;
        //min-width: 400px;
        padding-left: 50px;
        // font-size: clamp(0.6rem, 1vw, 0.8rem);
      }
  
      .projet-title {
        color: #80705a;
        padding-left: 50px;
        font-family: "Gotham Book", sans-serif;
      }
  
      p {
        line-height: 1.6em;
        //line-height: clamp(1.5rem, 1vw, 2rem);
        font-size: clamp(0.7em, 1vw, 1em);
      }
    }

    @media screen and (max-width: 480px) {
      article {
        width: 100%;
        //min-width: 400px;
        padding: 0 25px;
        // font-size: clamp(0.6rem, 1vw, 0.8rem);
      }
  
      .projet-title {
        color: #80705a;
        padding-left: 25px;
        font-family: "Gotham Book", sans-serif;
      }
  
      p {
        line-height: 1.5em;
        //line-height: clamp(1.5rem, 1vw, 2rem);
        font-size: clamp(0.7em, 1vw, 1em);
      }
    }

    /* article {
      width: 80%;
      min-width: 400px;
      padding-left: 100px;
      // font-size: clamp(0.6rem, 1vw, 0.8rem);
    } */
  }
}

.equipe-content {
  margin: 0;
  padding: 0;

  .equipe-article {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    //padding: 0 calc(max(10%, 100px));
    text-align: justify;

    .equipe-title {
      color: #80705a;
      font-size: clamp(1.6em, 2vw, 2em);
      font-family: "Gotham Book", sans-serif;
    }

    @media screen and (min-width: 1201px) {
      article {
        width: 85%;
        min-width: 400px;
        padding-left: 100px;
        // font-size: clamp(0.6rem, 1vw, 0.8rem);
      }

      .equipe-title {
        padding-left: 100px;

        // à tester
        padding-top: 50px;
      }

      p {
        line-height: 2em;
        //line-height: clamp(1.5rem, 1vw, 2rem);
        font-size: clamp(0.8rem, 1vw, 1rem);
      }
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      article {
        width: 90%;
        min-width: 400px;
        padding-left: 50px;
        // font-size: clamp(0.6rem, 1vw, 0.8rem);
      }

      .equipe-title {
        color: #80705a;
        padding-left: 50px;
        font-family: "Gotham Book", sans-serif;
      }

      p {
        line-height: 1.8em;
        //line-height: clamp(1.5rem, 1vw, 2rem);
        font-size: clamp(0.8rem, 1vw, 1rem);
      }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      article {
        width: 90%;
        //min-width: 400px;
        padding-left: 50px;
        // font-size: clamp(0.6rem, 1vw, 0.8rem);
      }

      .equipe-title {
        color: #80705a;
        padding-left: 50px;
        font-family: "Gotham Book", sans-serif;
      }

      p {
        line-height: 1.8em;
        //line-height: clamp(1.5rem, 1vw, 2rem);
        font-size: clamp(0.7em, 1vw, 1em);
      }
    }
  }

  @media screen and (min-width:481px) and (max-width: 768px) {
    article {
      width: 90%;
      //min-width: 400px;
      padding-left: 50px;
      // font-size: clamp(0.6rem, 1vw, 0.8rem);
    }

    .equipe-title {
      color: #80705a;
      padding-left: 50px;
      font-family: "Gotham Book", sans-serif;
    }

    p {
      line-height: 1.6em;
      //line-height: clamp(1.5rem, 1vw, 2rem);
      font-size: clamp(0.65em, 1vw, 1em);
    }
  }

  @media screen and (max-width: 480px) {
    article {
      width: 100%;
      //min-width: 400px;
      padding: 0 25px;
      // font-size: clamp(0.6rem, 1vw, 0.8rem);
    }

    .equipe-title {
      color: #80705a;
      padding-left: 25px;
      font-family: "Gotham Book", sans-serif;
    }

    p {
      line-height: 1.5em;
      //line-height: clamp(1.5rem, 1vw, 2rem);
      font-size: clamp(0.7em, 1vw, 1em);
    }
  }

}

.titre {
  //height: 20%;
  //min-height: 100px;
  align-items: flex-end;
  display: flex;
  position: relative;
  width: 100%;
}

.article {
  height: 50%;
  min-height: 25vh;
  /* display: flex;
  align-items: center; */
  position: relative;
  width: 100%;
  font-size: 1em;
}

@media screen and (min-width: 1201px) {
  .pagination {
    padding: 0 100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .pagination {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .pagination {
    padding: 0 50px;
  }
}

.pagination {
  //padding: 0 10%;
  display: flex;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .pagination {
    padding-top: 40px;
    align-items: flex-start;

  }
}

@media screen and (max-width: 768px) {
  .pagination {
    align-items: flex-end;
    padding-top: 20px;
  }
  
}

.projet-pagination,
.equipe-pagination {
  position: relative;
  display: inline-block;

  font-family: "Gotham Book";
  font-weight: 700;
  justify-content: left;
  padding: 0;
}

.projet-page-btn,
.equipe-page-btn {
  display: inline-block;
  text-decoration: none;
  font-size: clamp(1.8em, 2vw, 2.2em);
  color: #525252;
  padding: 0 10px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.projet-page-btn + .projet-page-btn,
.equipe-page-btn + .equipe-page-btn {

  margin: 0 1em;
}

.projet-page-btn::after,
.equipe-page-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #525252;
  transition: width 0.3s;
}
.projet-page-btn:hover::after,
.equipe-page-btn:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.active {
  color: #222;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #222;
}

/* PRODUIT */

.produit-section {
  width: 100%;
  max-width: 100vw;
}

.a-propos {
  // margin-top: 150px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  .a-propos {
    height: 20%;
    min-height: 200px;
    // margin-top: 150px;
  }

  .a-propos-both {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .a-propos {
    height: 20%;
  }

  .a-propos-both {
    height: 100%;
    padding-top: 110px;
    padding-bottom: 20px;
    //padding-bottom: 50px;
  }
}

.produit-title {
  text-align: center;
  margin-bottom: 0;
  color: #80705a;
  font-family: "Gotham Book";
  font-size: clamp(1.2em, 2vw, 2em);
}

.produit-apropos-text {
  text-align: center;
  font-size: clamp(0.8em, 1.5vw, 1.4em);
  font-family: "Gotham Book";
  font-weight: 500;
}

@media screen and (min-width: 1201px) {
  .produit-title {
    padding: 1em 4em;
  }

  .produit-apropos-text {
    padding: 1em 4em 0 4em;
    line-height: 1.4em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .produit-title {
    padding: 0 4em;
  }

  .produit-apropos-text {
    padding: 1em 4em 0 4em;
    line-height: 2.2em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .produit-title {
    padding: 0 4em;
  }

  .produit-apropos-text {
    padding: 1em 4em 0 4em;
    line-height: 2.2em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .produit-title {
    padding: 0 2em;
  }

  .produit-apropos-text {
    padding: 1em 2em 0 2em;
    line-height: 1.6em;
  }
}

@media screen  and (max-width: 480px) {
  .produit-title {
    padding: 0 1em;
  }

  .produit-apropos-text {
    padding: 2em 2em 0 2em;
    line-height: 1.4em;
  }
}

.produit-1,
.produit-2,
.produit-3,
.produit-4,
.produit-5 {
  height: 60%;
  min-height: 60vh;
  margin-bottom: 10px;
}

/* .col {
  //display: flex;
  width: 50%;
  height: 100%;
} */

.produit-square {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 60vh;
  background-color: #e7e4e0;
  position: relative;
}

.produit-article-title {
  text-align: left;
  font-family: "Gotham Bold";
  padding-bottom: 25px;
}

.produit-article {
  text-align: justify;
}

@media screen and (min-width: 1201px) {
  .produit-article {
    padding: 0 calc(max(10%, 50px)) 0 calc(max(20%, 100px));
    p {
      line-height: 2em;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .produit-article {
    padding: 0 calc(max(10%, 50px)) 0 calc(max(20%, 100px));
    p {
      line-height: 1.8em;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .produit-article {
    padding: 0 calc(max(5%, 25px)) 0 calc(max(10%, 50px));
    p {
      line-height: 1.8em;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .produit-article {
    padding: 0 calc(max(10%, 50px)) 0 calc(max(10%, 100px));
    p {
      line-height: 1.8em;
    }
  }
}

@media screen and (max-width: 480px) {
  .produit-article {
    padding: 0 calc(max(10%, 20px)) 0 calc(max(10%, 50px));
    p {
      line-height: 1.6em;
    }
  }
}

.produit-article-text {
  padding-top: 25px;
}

.produit-image-box {
  height: 50%;
  width: 50%;
  min-height: 60vh;
  //min-width: 50vh;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  .produit-image-box {
    display: inline-block;
  }

  .produit-square {
      width: 50%;
      height: 100%;
    }

    .left {
      float: left;
      border-right: 5px solid #fff;
      //margin-left: 5px;
    }
    
    .right {
      float: right;
      border-left: 5px solid #fff;
    }


    .number {
      color: #80705a;
      opacity: 0.25;
    }

    
    .produit-article-title {
      color: #80705a;
      border-bottom: 2px solid #80705a;
    }

}

@media screen and (max-width: 768px) {
  .produit-image-box {
    display: none;
  }

  .produit-square {    
    width: 100%;
    height: 100%;
  }

  .right {

  }

  .left {
    
  }

  .square-1 {
    background-image: url(../assets/images/chimie.jpg);
    background-position: center center;
    background-size: cover;
    background-color: var(--main-filter-color);
    background-blend-mode: multiply;
  }
  
  .square-2 {
    background-image: url(../assets/images/creme_mains.jpeg);
    background-position: center center;
    background-size: cover;
    background-color: var(--main-filter-color);
    background-blend-mode: multiply;
  }
  
  .square-3 {
    background-image: url(../assets/images/water_drops.jpeg);
    background-position: center center;
    background-size: cover;
    background-color: var(--main-filter-color);
    background-blend-mode: multiply;
  }
  
  .square-4 {
    background-image: url(../assets/images/rue_lyon.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-color: var(--main-filter-color);
    background-blend-mode: multiply;
  }
  
  .square-5 {
    background-image: url(../assets/images/carte_paiement.jpeg);
    background-position: center center;
    background-size: cover;
    background-color: var(--main-filter-color);
    background-blend-mode: multiply;
  }

  .number {
    color:white;
    opacity: 0.5;
  }

  
  .produit-article-title {
    color: white;
    border-bottom: 2px solid white;
  }

  .produit-article-text {
    color: white;
  }
}

.produit-image {
  height: 100%;
  width: 100%;
  min-height: 60vh;
  min-width: 50vh;
  background-position: center center;
  background-size: cover;
  transition: transform 500ms ease-in-out;
}

.produit-image-box:hover .produit-image {
  transform: scale(1.1);
  opacity: 0.9;
}

.image1 {
  background-image: url(../assets/images/chimie.jpg);
}

.image2 {
  background-image: url(../assets/images/creme_mains.jpeg);
}

.image3 {
  background-image: url(../assets/images/water_drops.jpeg);
}

.image4 {
  background-image: url(../assets/images/rue_lyon.jpg);
  background-position-y: 0px;
}

.image5 {
  background-image: url(../assets/images/carte_paiement.jpeg);
}



.number {
  z-index: 0;
  font-family: "Gotham Bold";
  font-size: clamp(16rem, calc(4vw + 20rem), 48rem);
  line-height: 1;
  position: absolute;
  left: 5%;
  top: 5%;
  max-height: 75%;
}

@media screen and (min-width: 769px) {
  .separator {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 200px;
  }
    
  .separator-video {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .separator {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100px;
  }

  .separator-video {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100px;
  }
}

/* Timing */

.timing-bg {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  background-image: url(../assets/images/timing_office.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}

.timing-title {
  color: #80705a;
  font-family: "Gotham Book", sans-serif;
  font-size: clamp(1.6em, 2.5vw, 2.4em);
}

.timing-article {
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  // padding: 5em;

  * + * {
    padding-top: 2em;
  }
}

.timing-text {
  font-family: "Gotham Book", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 4em;
  font-size: clamp(0.7em, 1vw, 1em);
}

@media screen and (min-width: 1201px) {
  .timing-article {
    padding: 5em;
    width: 60%;
    min-width: 60vw;
  }

  .timing-text {
    margin: 0 4em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .timing-article {
    padding: 2.5em;
    width: 60%;
    min-width: 60vw;
  }

  .timing-text {
    margin: 0 4em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .timing-article {
    padding: 2em;
    width: 60%;
    min-width: 60vw;
  }

  .timing-text {
    margin: 0 2em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .timing-article {
    padding: 1em;
    width: 80%;
    min-width: 80vw;
  }

  .timing-text {
    margin: 0 2em;
  }
}

@media screen  and (max-width: 480px) {
  .timing-article {
    padding: 2em 0.5em;
    width: 80%;
    min-width: 80vw;
  }

  .timing-text {
    margin: 0 2em;
  }
}



/* Avis */

.avis-bg {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 50vh;
  position: relative;
  justify-content: center;
  background-color: #80705a;
}

.avis-title {
  font-family: "Gotham Book", sans-serif;
  font-size: clamp(1.6em, 2.5vw, 2.4em);
  font-weight: 400;
}

.avis-article {
  text-align: center;
  color: #fff;
  width: 80%;

  * + * {
    padding-top: 2em;
  }

  .avis-text {
    font-family: "Gotham Book", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    // margin: 0 4em;
    font-size: clamp(0.8rem, 1vw, 1rem);
    font-family: "Gotham Book";
    font-style: italic;
    font-weight: 800;
  }

  .btn-avis {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 1rem;
    padding: 0.5em 1.25em;
    border: 2px solid #fff;
    border-radius: 2em;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    font-size: clamp(0.7rem, 1vw, 1rem);
    white-space: nowrap;
  }

  .disabled {
    opacity: 0.5;
    //pointer-events: none;
    cursor: default;
  }

  .btn-avis + .btn-avis {
    margin: 2em;
  }

  .btn-avis:hover {
    //transform: scale(1.1);
    //opacity: 0.9;
    background-color: #fff;
    color: #80705a;
  }
}

@media screen and (min-width: 1201px) {
  .avis-article {
    min-width: 60vw;
    padding: 5em;
  }

  .avis-text {
    margin: 0 4em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .avis-article {
    min-width: 60vw;
    padding: 5em;
  }

  .avis-text {
    margin: 0 4em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .avis-article {
    min-width: 60vw;
    padding: 5em;
  }

  .avis-text {
    margin: 0 4em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .avis-article {
    min-width: 60vw;
    padding: 1.5em;
  }

  .avis-text {
    margin: 0 1em;
  }
}

@media screen  and (max-width: 480px) {
  .avis-article {
    min-width: 60vw;
    padding: 1em;
  }

  .avis-text {
    margin: 0 1em;
  }
}


/* Partenaires */

.partenaires-container {
  padding-top: 100px;
}

.partenaires-title {
  font-family: "Gotham Book", sans-serif;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}



@media screen  and (min-width: 481px) {
  .split {
    margin: 0 auto;
    width: 75%;
    display: flex;
    gap: 1em;
    //flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  
    & > * {
      flex-basis: 30%;
      //min-width: 12em;
    }

    
  }


}

@media screen  and (max-width: 480px) {
  .split {
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 20px;
    //flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  
    & > * {
      flex-basis: 30%;
      //min-width: 15em;
    }
  }
}

.french-tech {
  width: 80%;
}


.featured {
  //background: #eee;



  &__item {
    position: relative;
    transform: scale(0.7);
    transition: transform 500ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;

    display: flex;
    align-items: center;
    //min-height: 250px;

    &:hover,
    &:focus {
      transform: scale(0.8);

      .featured__details {
        opacity: 1;
        text-shadow: 0 0 1em rgba(#fff, 1);
      }
    }
  }

  &__img {
    //width: 50px;
  }

  &__details {
    opacity: 0;
    transition: opacity 250ms linear;

    span {
      display: block;
      font-weight: 700;
      font-size: 2.5rem;
    }
  }
}

/* Numbers */





@media screen  and (min-width: 481px) {

  .numbers-container {
    padding-top: 100px;
    background-color: #E7E4E0;
    padding-bottom: 100px;
    margin-bottom: 0;
  }

  .numbers-title {
    font-family: "Gotham Book", sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 100px;
  }

  .split-numbers {
    margin: 0 auto;
    width: 75%;
    display: flex;
    gap: 1em;
    //flex-wrap: wrap;
    justify-content: center;

    & > * {
      flex-basis: 30%;
      text-align: center;
      
      //min-width: 12em;
    }
  }
}

@media screen  and (max-width: 480px) {

  .numbers-container {
    padding-top: 50px;
    background-color: #E7E4E0;
    padding-bottom: 20px;
  }

  .numbers-title {
    font-family: "Gotham Book", sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
  }


  .split-numbers {
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 20px;
    //flex-wrap: wrap;
    justify-content: center;
  
    & > * {
      flex-basis: 30%;
      //min-width: 15em;
  text-align: center;
    }
  }
}

.follow-number, .country-number, .participe-number {
  font-family: "Gotham Book", sans-serif;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}

.text-number {
  font-family: "Gotham Book", sans-serif;
  font-weight: 400;
  font-size: clamp(0.8rem, 1vw, 1.25rem);
}


/* Footer */

footer {
  margin: 0;
  z-index: 2;
  background-color: #E7E4E0;
  height: 50%;
  border-top: 1px solid  #E7E4E0;
}

.footer-container {
  background-color: #FFF;
  margin-top: 80px;
  width: 100%;
  max-width: 100vw;
  height: 50%;
  align-items: center;
  box-shadow:  rgba(0, 0, 0, 0.07) 0px -6px 20px, rgba(0, 0, 0, 0.07) 0px -12px 20px, rgba(0, 0, 0, 0.07) 0px -24px 40px;
  flex-wrap: wrap;
  display: flex;
}

/* .split-footer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  border: 1px solid red;

  & > * {
    flex-basis: 30%;
    min-width: 15em;
  }
} */

@media screen and (min-width: 1201px) {
  .footer-container {
  //  min-height: 50vh;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .footer-container {
   // min-height: 40vh;
  }
}

@media screen and (max-width: 1024px) {
  .footer-container {
    //min-height: 30vh;
  }
}

.footer-social {
  /* width: 30%;
  min-width: 30vw; */
}

.split-social {
  margin: 0 auto;
  width: 75%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;

  & > * {
    flex-basis: 30%;
    min-width: 15em;
  }
}

/* .col {
  display: flex;
  align-items: center;
  // border: 1px solid red;
  height: 100%;
} */

.mailchimp-block {
  padding: 2em 0;

}

.mentions-links-block {
  line-height: 1.0;
  a {
    color: #222;
    font-size: clamp(0.6em, 1vw, 1em);
    //text-decoration: none;
  }

  a:hover {
    color: #80705a;
  }


}

@media screen and (min-width: 481px) {
  .mentions-links-block {
    padding-right: 20px;
  }

}

@media screen  and (max-width: 480px) {
  .mailchimp-block-content {
    width: 100vw;
  }

  .mentions-links-block {
    padding-right: 0;
  }
}

.footer-logo,
.footer-contact,
.footer-social {
  /*  height: 60%;
  min-height: 200px; */
  //position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.social-block {
  justify-content: center;
}

.footer-contact {
  /* width: 40%;
  min-width: 400px; */
  

  .btn-contact {
    /*display: inline-block;
    text-decoration: none;
    color: #111;
    background-color: #e1e1e1;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    padding: 0.5em 1.25em;
    border-radius: 2em;
    transition: transform 250ms ease-in-out, opacity 250ms linear;*/
    padding: 0.5em 1em;
    font-size: clamp(0.7rem, 1vw, 1.2rem);

    //font-size: clamp(0.7rem, 1vw, 1rem);
    white-space: nowrap;
  }

  /*.btn-contact:hover {
    font-weight: 800;
    background-color: #d6d6d6;
  }*/
}

@media screen and (min-width: 769px) {
  .btn-contact {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .btn-contact {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 481px) {
  .footer-logo {
  width: 30%;
  min-width: 30vw;
  }
}



@media screen  and (max-width: 480px) {
  .btn-contact {
    margin-bottom: 10px;
  }
  .mailchimp-block {
    text-align: center;
    padding-bottom: 50px;
  }

  .footer-logo {
    padding-top: 20px;
    width: 50%;
  }

  .social-block {
    padding-bottom: 20px;
  }
}

.footer-conditions {
  position: relative;

  .rules {
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    color: #7b7b7b;
    width: 90%;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  color: #666;
  font-size: 0.65rem;
  padding: 0.5em;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  background-color: #fff;
  border: 1px solid #666;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.label {
  margin-left: 20px;
}

.label:after {
  content: "\2713";
  font-size: 1.1rem;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 4px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label:after {
  transform: scale(1);
}

.footer-contact-check-text {
  color: #5b5b5b;
  font-size: 0.8rem;
}

.footer-social {
  
}

.contact-us {
  padding-bottom: 5px;
}

.footer-social-email {
  // margin-top: 50px;
  color: #111;
  font-size: clamp(0.8em, 1.5vw, 1em);
  //text-decoration: none;
}

.footer-social-email:hover {
  color: #80705a;
}

.footer-logo {
  //margin: 0 auto;
  display: flex;
  align-items: center;
  //height: 100%;
  //min-height: 100vh;
  position: relative;
  justify-content: center;
}

.footer-logo-link {
  width: 75%;
}

.footer-logo-img {
  transition: transform 250ms ease-in-out;
  transform: scale(0.9);
}

.footer-logo-img:hover {
  transform: scale(1);
}

.social {
  // margin-top: 40px;
  padding: 1em 0;
  display: flex;
  width: 100%;
  height: 100%;
  //gap: 2em;

  &__link {
    width: clamp(32px, 4vw, 64px);
  }

  &__image {
    //float: left;
    height: auto;
    width: 100%;
    transition: transform 250ms ease-in-out;
  }

  &__image:hover {
    transform: scale(1.2);
  }
}

.social__link + .social__link {
  margin-left: 2em;
}

.copyright {
  width: 100%;
  height: 75px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  display: flex;
}

.copyright-text {
  font-size: clamp(0.7em, 1vw, 1em);
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 2em;

  a {
    color: #fff;
  }

  /* a + a {
    padding-left: 10px;
  } */

  a:hover {
    color: #d6d6d6;
  }
}

/* Mentions légales */

.mentions-container {
  width: 100%;
}

.mentions-logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  .mentions-logo {
    padding-top: 100px;
    width: 20%;
    min-width: 20vw;
  }

  .mentions-content {
    justify-content: center;

    p {
      text-align: justify;
    }
    
    h2 {
      line-height: 3em;
    }
    li {
      text-align: left;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .mentions-logo {
    padding-top: 100px;
    width: 20%;
    min-width: 20vw;
  }

  .mentions-content {
    justify-content: left;

    p {
      text-align: left;
    }
    h2 {
      line-height: 1.8em;
    }
    li {
      text-align: left;
    }
  }
}


@media screen and (max-width: 480px) {
  .mentions-logo {
    padding-top: 50px;
    width: 50%;
    min-width: 50vw;
  }

  .mentions-content {
    justify-content: left;

    p {
      text-align: left;
    }

    h2 {
      padding-top: 20px;
      //line-height: 1.8em;
      padding-bottom: 10px;
    }

    li {
      text-align: left;
    }
  }
}



.mentions-logo-img {
  transition: transform 500ms ease-in-out;
  transform: scale(1);
}

.mentions-logo-img:hover {
  transform: scale(1.1);
}

.mentions-content {
  width: 80%;
  position: relative;
  margin: 0 auto;

  h1 {
    line-height: 4em;
    color: #262626;
  }

  h2 {
    color: #80705a;
  }

  p {
    line-height: 1.6em;
    margin-bottom: 20px;
    font-size: clamp(0.7em, 1vw, 1em);
  }

  a {
    color: #888888;

    //text-decoration: none;
  }

  b {
    font-size: clamp(0.9rem, 1vw, 1.1rem);
  }

  a:hover {
    color: #636363;
    // text-decoration: none;
  }

  li {
    margin-left: 25px;
    padding: 5px;

    font-size: clamp(0.7em, 1vw, 1em);
    font-weight: 400;
  }
}

.retour-button {
  text-align: center;
  padding: 4em;

  .btn-retour:hover {
    color: #fff;
  }
}

.note-maj {
  font-style: italic;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.presentation-site {
}

/* Modal form */
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 100;
  //display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 600px;
  min-height: 600px;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  position: relative;
}

.modal-logo {
  margin: 0 auto;
  width: 30%;
  min-width: 64px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding-bottom: 20px;
}

.modal-title {
  color: #80705a;
  font-size: clamp(1.1rem, 1vw, 1.2rem);
  font-weight: 400;
  font-family: "Gotham Book", sans-serif;
  //padding: 5px;
  white-space: nowrap;
}

.modal-description {
  text-align: justify;
  font-size: 12px;
  // border: 1px solid red;
  padding: 10px;
  margin: 10px auto;
  font-weight: 400;
  color: #222;
  width: 90%;
}

.modal-description-ita {
  text-align: justify;
  font-size: 12px;
  // border: 1px solid red;
  padding: 10px;
  margin: 10px auto 50px auto;
  font-weight: 400;
  color: #222;
  width: 90%;
  font-style: italic;
}

.indicates-req {
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
  font-family: "Gotham Book", sans-serif;
  color: #666;
  padding-bottom: 10px;
}

/* #mc_embed_signup div.mce_inline_error {
  margin: 0 0 1em 0;
  padding: 5px 10px;
  //background-color: #6B0505;
  font-weight: bold;
  z-index: 1;
  color: #6b0505;
} */

/* .modal-logo-img {
} */

input[type=text], input[type=email] {
  width: 90%;
  display: block;
  margin: 15px auto;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #7b7b7b;
}

#genderArea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 90%;
  text-align: left;
  display: block;
  margin: 15px auto;
  height: 40px;
  padding: 20px 0px 20px 5px;
}

#genderArea label {
  margin: 0 20px 0 10px;
}

.relative-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
  text-align: center;
}

.close {
  position: fixed;
  font-size: 42px;
  // border: 1px solid red;
  transform: rotate(45deg);
  cursor: pointer;

  color: #222;
}

.close:hover {
  color: #777;
}

.btn-mailchimp {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 40%;
  max-width: 150px;

  display: inline-block;
  text-decoration: none;
  color: #80705a;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1vw, 1rem);
  padding: 0.5em 1.25em;
  border: 2px solid #80705a;
  border-radius: 2em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  cursor: pointer;
}

.btn-mailchimp:hover {
  //transform: scale(1.1);
  //opacity: 0.9;

  background-color: #80705a;
  color: #fff;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.disabled:hover {
}

.unselectable {
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

/* checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 20px auto 0 auto;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  color: #222;
  //font-size: 0.65rem;
  padding: 0.5em;
  margin-left: 25px;
  font-size: 12px;
  text-align: left;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  background-color: #fff;
  border: 1px solid #666;
  // border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.label {
  margin-left: 20px;
}

.label:after {
  content: "\2713";
  font-size: 1.1rem;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 4px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label:after {
  transform: scale(1);
}

.inscription-newsletter-content {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

@media screen and (min-width: 769px) {
  .inscription-newsletter-content {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .inscription-newsletter-content {
    width: 80%;
  }
}


.in-logo {
  margin: 0 auto;
  padding-top: 60px;
  width: 40%;
  min-width: 64px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding-bottom: 20px;
}

.cookies-consent {
  position: fixed;
  bottom: -75px;
  width: 100%;
  // height: 0px;
  height: 75px;
  background-color: #262626;
  opacity: 0.8;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .box {
    // display: none;

    // padding: 10px 10px;
  }

  p {
    text-align: center;
    padding: 0 5px;
    width: 100%;
    font-size: clamp(0.65em, 1vw, 1em);
  }

  /* a + a {
    padding-left: 10px;
  } */

  a {
    color: white;
  }

  a:hover {
    color: #d6d6d6;
  }

  .btn-cookies-consent {
    margin: 0 10px;
    background-color: #80705a;
    font-size: clamp(0.8em, 1vw, 1em);
  }

  .btn-cookies-consent:hover {
    background-color: white;
    color: #80705a;
    border-color: white;
  }
}
